{% extends 'base.html.twig' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block main %}
    <article>
        <h2>{{ article.title }}</h2>
        <p>{{ article.content }}</p>
        <p>Article publié le {{ article.publishedAt | date('d-m-y') }}</p>
    </article>
{% endblock %}

